body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
}

.hero {
  height: 60vh;
  background: url('OIP\ \(2\).jpeg') center/cover;
  position: relative;
}

.overlay {
  background: rgba(0,0,0,0.6);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  background: #0a1a2f;
  text-align: center;
  padding: 12px;
}

.menu a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
}

.content {
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 10px;
}

.form-box input,
.form-box textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

footer {
  background: #0a1a2f;
  color: white;
  text-align: center;
  padding: 15px;
}

.hero {
    background-image: url("img/OIP.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh; /* Sesuaikan tinggi yang diinginkan */
}
